USE [master]
GO
/****** Object:  Database [03_39pr31]    Script Date: 28.09.2022 19:19:21 ******/
CREATE DATABASE [03_39pr31]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'03_39pr31', FILENAME = N'E:\ШАГ\SQL\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\03_39pr31.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'03_39pr31_log', FILENAME = N'E:\ШАГ\SQL\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\03_39pr31_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [03_39pr31].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [03_39pr31]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28.09.2022 19:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NOT NULL,
	[Manufacturer] [nvarchar](20) NOT NULL,
	[ProductCount] [int] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK__Products__3214EC07944CABD1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Produc__24927208]  DEFAULT ((0)) FOR [ProductCount]
GO
USE [master]
GO
