<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="provider1" value="System.Data.SqlClient"/>
    <add key="connectStr" value="Data Source=(local)\sqlexpress_2019;Initial Catalog=Universt;Integrated Security=True;Connect Timeout=20"/>
    
  </appSettings>
<connectionStrings>
  <add name="connectStr" connectionString="Data Source=(local)\sqlexpress_2019;Initial Catalog=Universt;Integrated Security=True;Connect Timeout=20"/>
</connectionStrings>
</configuration>