@if (false)
{

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Реєстрація", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}