<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:app.properties"/>
    <bean
            class="edu.itstep.spring.ex4.Gun"
            id="gun">
    </bean>
    <bean
            class="edu.itstep.spring.ex4.MachineGun"
            id="machineGun">
    </bean>
    <bean
            class="edu.itstep.spring.ex4.Player"
            id="player">
        <property name="weapon" ref="machineGun"/>
        <property name="name" value="${player.name}"/>
        <property name="bullet" value="${player.bullet}"/>
    </bean>

</beans>